.card {
  /*margin: 0 12px 12px 0;*/
  box-shadow: -1px 1px 3px 1px lightgrey;
  border-radius: 3px;
  cursor: pointer;
  .box-sizing(border-box);
  .text-center();
  height: 140px;
  background-color: #F9F9F9;

  &.matched {
    visibility: hidden;
  }

  .card-info {
    padding-top: 30px;
  }

  .question-mark {
    .text-center();
  }
}

.card-data-container, .card-img {
  height: 100%;
  img {
    height: 100%;
  }
}
