extends layout

block content
  #conc-app(data-ng-app='concentration', data-ng-controller='AppCtrl as appCtrl', data-ng-cloak)
    include ngTemplates/cards
    include ngTemplates/gameModal
    .container-fluid(data-ng-if='appCtrl.isLoggedIn()',
      data-ng-controller='GameCtrl as gameCtrl')
      .row
        .col-md-6.col-md-offset-4(data-ng-if='!appCtrl.appReady')
          .progress.progress-striped.active
            .progress-bar(role='progressbar', aria-valuenow='100',
              aria-valuemin='100', aria-valuemax='100' style='width: 100%') Loading Data...
        include sidebar
        include main

  #login.text-center
    h2 Have you signed in?
    script(type='IN/Login')

block scripts
  script(src='js/pre-libs.js')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js')
  script(src='js/post-libs.js')
  script(src='https://platform.linkedin.com/in.js')
    | api_key: 75495h1njyfd9v
    | onLoad: onLinkedInLoad
    | authorize: true
  script(src='js/app.js')
  script
    | // we have to block so that we give angular a chance to capture `IN`
    | window.name = 'NG_DEFER_BOOTSTRAP!';
    | function onLinkedInLoad() {
    |   IN.Event.on(IN, 'auth', onLinkedInAuth);
    | }
    | function onLinkedInAuth() {
    |   angular.element('#login').remove();
    |   angular.resumeBootstrap();
    |   IN.API.Profile('me').result(function(profiles) {
    |     var profile = profiles.values[0];
    |     angular.element('#conc-app').injector()
    |       .invoke(['LoginService', '$rootScope', function(LoginService, $rootScope) {
    |         $rootScope.$apply(function() { LoginService.login(profile); });
    |       }]);
    |   });
    | }
