.col-md-9.col-md-offset-3.main
  .cards.row
    .col-md-12(data-ng-controller='CardsCtrl as cardsCtrl' data-ng-if='appCtrl.appReady')
      //-img.container-img(src='img/1.jpg')
      .cards-container
        .row(data-ng-include='"cards.html"')
